<p>happy_birthday<!-- Designed by www.hotemailtemplates.com --></p>

<table border="0" cellpadding="0" cellspacing="0" id="Table_01" style="width:600px">
	<tbody>
		<tr>
			<td><img alt="" src="images/img_01.png" style="display:block; height:160px; width:125px" /></td>
			<td><img alt="" src="images/img_02.png" style="display:block; height:160px; width:400px" /></td>
			<td><img alt="" src="images/img_03.png" style="display:block; height:160px; width:75px" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="0" cellspacing="10" style="width:100%">
				<tbody>
					<tr>
						<td colspan="3"><strong><em><span style="color:#800080; font-size:x-large">Happy Birthday Hardik</span></em></strong></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
						<div>Have a million smiles today<br />
						Let your heart be filled with love<br />
						Chase all your cares away<br />
						Have a little fun
						<p>Dance to your favorite music<br />
						Sing your favorite tune<br />
						Laugh with all your heart,<br />
						Share a silly joke or two</p>

						<p>Have a Happy Happy Birthday<br />
						No matter what you do!</p>
						</div>
						</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><img alt="" src="images/img_07.png" style="display:block; height:206px; width:125px" /></td>
			<td><img alt="" src="images/img_08.png" style="display:block; height:206px; width:400px" /></td>
			<td><a href="http://www.hotemailtemplates.com/"><img alt="" src="images/img_09.png" style="display:block; height:206px; width:75px" /></a></td>
		</tr>
		<tr>
			<td colspan="3">
			<div style="float:right"><a href="http://www.hotemailtemplates.com" style="text-decoration: none"><span style="color:#cccccc; font-family:Arial; font-size:x-small">Designed by www.hotemailtemplates.com</span></a></div>
			</td>
		</tr>
	</tbody>
</table>
<!-- Designed by www.hotemailtemplates.com -->